StepFunctions.json
{
  "Comment": "Simplified EventBridge-based Video Transcoding and ML Processing Workflow",
  "StartAt": "ReadCSVAndProcessTitles",
  "States": {
    "ReadCSVAndProcessTitles": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:region:account-id:function:ReadCSVFunction",
      "Next": "ProcessTitles"
    },
    "ProcessTitles": {
      "Type": "Map",
      "ItemsPath": "$.titles",
      "Iterator": {
        "StartAt": "ProcessEpisodes",
        "States": {
          "ProcessEpisodes": {
            "Type": "Map",
            "ItemsPath": "$.episodes",
            "Iterator": {
              "StartAt": "CheckS3",
              "States": {
                "CheckS3": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.transcoded",
                      "BooleanEquals": true,
                      "Next": "EpisodeComplete"
                    }
                  ],
                  "Default": "StartMediaConvert"
                },
                "StartMediaConvert": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::mediaconvert:createJob.sync",
                  "Next": "EpisodeComplete"
                },
                "EpisodeComplete": {
                  "Type": "Pass",
                  "End": true
                }
              }
            },
            "Next": "StartMLBatchJob"
          },
          "StartMLBatchJob": {
            "Type": "Task",
            "Resource": "arn:aws:states:::batch:submitJob.sync",
            "End": true
          }
        }
      },
      "Next": "FinalStep"
    },
    "FinalStep": {
      "Type": "Pass",
      "End": true
    }
  }
}
