StepFunctions.json
{
  "Comment": "EventBridge-based Video Transcoding and ML Processing Workflow",
  "StartAt": "ReadCSVAndProcessTitles",
  "States": {
    "ReadCSVAndProcessTitles": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:region:account-id:function:ReadCSVFunction",
      "Next": "ProcessTitles"
    },
    "ProcessTitles": {
      "Type": "Map",
      "ItemsPath": "$.titles",
      "Iterator": {
        "StartAt": "SendToSQS",
        "States": {
          "SendToSQS": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sqs:sendMessage",
            "Next": "StartTranscoding"
          },
          "StartTranscoding": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:region:account-id:function:StartTranscodingFunction",
            "Next": "WaitForCompletion"
          },
          "WaitForCompletion": {
            "Type": "Wait",
            "Next": "CheckCompletion",
            "EventPattern": {
              "source": ["custom.transcoding"],
              "detail-type": ["EpisodeComplete"],
              "detail": {
                "titleId.$": "$.titleId"
              }
            }
          },
          "CheckCompletion": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:region:account-id:function:CheckCompletionFunction",
            "Next": "IsAllComplete"
          },
          "IsAllComplete": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.allComplete",
                "BooleanEquals": true,
                "Next": "StartMLBatchJob"
              }
            ],
            "Default": "WaitForCompletion"
          },
          "StartMLBatchJob": {
            "Type": "Task",
            "Resource": "arn:aws:states:::batch:submitJob.sync",
            "End": true
          }
        }
      },
      "Next": "FinalStep"
    },
    "FinalStep": {
      "Type": "Pass",
      "End": true
    }
  }
}
